<!DOCTYPE html>
<html lang="en">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="./src/index.js"></script>
<script src="src/script.js"></script>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AppCapella</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
    <!-- Custom styles for this template -->
  </head>
  <body>
    <script src="src/script.js"></script>

  <div class="background1">
  <div class="container-fluid">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="navbar">
      <div class="container">
        <div id="logo">
          <a class="navbar-brand" href="/">
            <img src="AppcapellaLogo.png" width="250" height="75"/>
          </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/ljcphillips/appcapella" target="_blank">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>




    <div class="container">
      <div id="top-buttons" class="col-lg-12 text-center" id="buttons">
      <button class="record" name="record" type="button" id='record'>RECORD</button>
      <button class="stop" name="stop" type="button" id='stop'>STOP</button>
      <button type="button" id="playButton">PLAY</button>
      <button type="button" id="pauseButton">PAUSE</button>
      <button type="button" id="rewindButton">REWIND</button>
      <button type="button" id="resetButton">
        <a href="/reset">RESET</a>
      </button>
    </div>
    <div id="video wall" class="section md-padding bg-grey">
      <div class="container">
        <div class="row">

          <div class="col-md-6 p-2" id="video-container">
            <video controls="controls" width="100%" height="100%" id="video1"
                  name="video1" src="<%= @filename1 %>" style="background-color:orange">
            </video>
          </div>
          <div class="col-md-6 p-2" id="video-container">
            <video controls="controls" width="100%" height="100%" id="video2"
                  name="video2" src="<%= @filename2 %>" style="background-color:orange">
            </video>
          </div>
          <div class="col-md-6 p-2" id="video-container">
            <video controls="controls" width="100%" height="100%" id="video3"
                  name="video3" src="<%= @filename3 %>" style="background-color:orange">
            </video>
          </div>
          <div class="col-md-6 p-2" id="video-container">
            <video controls="controls" width="100%" height="100%" id="video4"
                  name="video4" src="<%= @filename4 %>" style="background-color:orange">
            </video>
          </div>
        </div>
      </div>
      <div class="col-lg-12 text-center">
      <form action="/mix" method="post" id="mix">
        <button class="btn btn-light"  type="submit" formmethod="post">MIX</button>
      </form>
    </div>

        <div class="row col-md-6">
          <form class="p-2" action="/upload_1" method="POST" enctype="multipart/form-data">
            <input type="file" accept="video/*" name="video_upload_1">
            <input type="submit" value="Upload video" id="upload_video_1">
          </form>
          <form class="p-2" action="/upload_2" method="POST" enctype="multipart/form-data">
            <input type="file" accept="video/*" name="video_upload_2">
            <input type="submit" value="Upload video" id="upload_video_2">
          </form>
          <form class="p-2" action="/upload_3" method="POST" enctype="multipart/form-data">
            <input type="file" accept="video/*" name="video_upload_3">
            <input type="submit" value="Upload video" id="upload_video_3">
          </form>
          <form class="p-2" action="/upload_4" method="POST" enctype="multipart/form-data">
            <input type="file" accept="video/*" name="video_upload_4">
            <input type="submit" value="Upload video" id="upload_video_4">
          </form>
        </div>
      </div>
    </div>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h4 class="mt-5">A Sinatra Sisters Application</h4>
          <p class="lead">Makers Academy Final Project - March 2018</p>
        </div>
      </div>
    </div>
  </div>
</div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="src/script.js"></script>

  </body>

</html>
