
<!-- <button type="button" id="playButton">PLAY</button>
<video controls="controls" width="800" height="600" id="video1"
       name="video1" src="./video1.mov"></video>

<video controls="controls" width="800" height="600" id="video2"
        name="video1" src="./video2.mov"></video>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="./src/index.js"></script> -->

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Appcapella</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="video wall" class="section md-padding bg-grey">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center" padding="100px 20px">
            <h2 class="title">Videos</h2>
          </div>
          <div class="row">
            <div class="col-md-6">
              <video controls="controls" width="100%" height="100%" id="video1"
                     name="video1" src="./video1.mov"></video>
            </div>
            <div class="col-md-6">
              <video controls="controls" width="100%" height="100%" id="video2"
                      name="video1" src="./video2.mov"></video>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <video controls="controls" width="100%" height="100%" id="video2"
                      name="video1" src="./video2.mov"></video>
            </div>
            <div class="col-md-6">
              <video controls="controls" width="100%" height="100%" id="video1"
                     name="video1" src="./video1.mov"></video>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">A Bootstrap 4 Starter Template</h1>
          <p class="lead">Complete with pre-defined file paths and responsive navigation!</p>
          <ul class="list-unstyled">
            <li>Bootstrap 4.1.1</li>
            <li>jQuery 3.3.1</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
