
<button type="button" id="playButton">PLAY</button>
<video controls="controls" width="800" height="600" id="video1"
       name="video1" src="./video1.mov"></video>

<video controls="controls" width="800" height="600" id="video2"
        name="video1" src="./video2.mov"></video>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="./src/index.js"></script>
