<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="./src/index.js"></script>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AppCapella</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Appcapella</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="main-controls">
  <canvas class="visualizer" height="60px"></canvas>
  <div id="buttons">
    <button class="record" id='record'>Record</button>
    <button class="stop" id='stop'>Stop</button>
  </div>
</section>
   <section class="video-clips">
   </section>
   <script src="src/script.js"></script>

    <div id="video wall" class="section md-padding bg-grey">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center p-5">
            <h2 class="title">Videos</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 p-2">
            <video controls="controls" width="100%" height="100%" id="video1"
                   name="video1" src="<%= @filename1 %>" col style="background-color:orange"></video>
          </div>
          <div class="col-md-6 p-2">
            <video controls="controls" width="100%" height="100%" id="video2"
                    name="video2" src="<%= @filename2 %>" col style="background-color:orange"></video>
          </div>
          <div class="col-md-6 p-2">
            <video controls="controls" width="100%" height="100%" id="video3"
                    name="video3" src="<%= @filename3 %>" col style="background-color:orange"></video>
          </div>
          <div class="col-md-6 p-2">
            <video controls="controls" width="100%" height="100%" id="video4"
                   name="video4" src="<%= @filename4 %>" col style="background-color:orange"></video>
          </div>
        </div>
      </div>
      <div class="container">
          <div class="row col-lg-12 m-5">
          <button class="btn btn-primary col-md-4 offset-md-4" type="button" id="playButton">PLAY</button>
        </div>
        <div class="row col-lg-12 m-5">
          <button class="btn btn-primary col-md-4 offset-md-4" type="button" id="pauseButton">PAUSE</button>
        </div>
        <div class="row col-lg-12 m-5">
          <button class="btn btn-primary col-md-4 offset-md-4" type="button" id="resetButton">RESET</button>
        </div>
        <div class="row col-md-6">
          <form class="p-2" action="/upload_1" method="POST" enctype="multipart/form-data">
            <input type="file" accept="video/*" name="video_upload_1">
            <input type="submit" value="Upload video" id="upload_video_1">
          </form>
          <form class="p-2" action="/upload_2" method="POST" enctype="multipart/form-data">
            <input type="file" accept="video/*" name="video_upload_2">
            <input type="submit" value="Upload video" id="upload_video_2">
          </form>
          <form class="p-2" action="/upload_3" method="POST" enctype="multipart/form-data">
            <input type="file" accept="video/*" name="video_upload_3">
            <input type="submit" value="Upload video" id="upload_video_3">
          </form>
          <form class="p-2" action="/upload_4" method="POST" enctype="multipart/form-data">
            <input type="file" accept="video/*" name="video_upload_4">
            <input type="submit" value="Upload video" id="upload_video_4">
          </form>
        </div>
        <div class="row col-lg-12">
          <form class="offset-md-6" action="/mix" method="post" id="mix">
            <button type="submit" formmethod="post">MIX</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">A Sinatra Sisters Application</h1>
          <p class="lead">Makers Academy Final Project - March 2018</p>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
